@tailwind utilities;
@import "tailwindcss";

:root {
    font-family: "Outfit", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    --text-color-dark: #272727;
    --text-color-light: #ebebeb;
    --color-light: #fff;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    @media (width <= 400px){
      font-size: 90%;
    }
  }

  .overlay{
    backdrop-filter: blur(24px);
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltip-text {
    visibility: hidden;
    opacity: 0;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: -100%;
    left: 110%;
    transform: translateY(40%);
    transition: opacity 0.3s;
    font-size: 0.8rem;
    min-width: 10rem;
    z-index: 10;

    @media (width <=780px){
      left: 0;
      bottom: 0%;
      transform: translateX(0%);
      transform: translateY(100%);
    }
  }

  .hide, .delete, .hide-forms{
    visibility:hidden;
    opacity: 0;
  }
  
  .tooltip:hover .tooltip-text,
  .tooltip:hover .delete, .show,
  .show-forms {
    visibility: visible;
    opacity: 1;
  }

  .shadow-md-cstm {
    --tw-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px 3px #0000001a;
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  .loader {
    width: 12px;
    height: 12px;
    border: 2px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

    .gen-loader {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        position: relative;
        animation: rotate 1s linear infinite
      }
      .gen-loader::before , .gen-loader::after {
        content: "";
        box-sizing: border-box;
        position: absolute;
        inset: 0px;
        border-radius: 50%;
        border: 5px solid #FFF;
        animation: prixClipFix 2s linear infinite ;
      }
      .gen-loader::after{
        transform: rotate3d(90, 90, 0, 180deg );
        border-color: #FF3D00;
      }

      @keyframes rotate {
        0%   {transform: rotate(0deg)}
        100%   {transform: rotate(360deg)}
      }

      @keyframes prixClipFix {
          0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
          50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
          75%, 100%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
      }

.bg{
  background-color: #faedbaa2;
}

.col-stats{
  display: none;

  @media (width <= 967px){
    display: flex;
  }
}

.row-stats{
  @media (width <= 967px){
    display: none;
  }
}

.cstm-bg{
  background-color: #0000002d;
}

