@tailwind utilities;
@import "tailwindcss";

:root {
    font-family: "Outfit", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    --text-color-dark: #272727;
    --text-color-light: #ebebeb;
    --color-light: #fff;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .overlay{
    backdrop-filter: blur(24px);
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltip-text {
    visibility: hidden;
    background-color: black;
    color: white;
    /* text-align: center; */
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: -100%;
    /* right: -100%; */
    left: 100%;
    /* transform: translateX(-100%); */
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 0.8rem;
    min-width: 10rem;
    z-index: 10;
  }
  
  .tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }